$app-max-width: 1600px;
$nav-bar-height: 70px;
$mobile-height-breakpoint: 900px;

$border-radius-lg: 10px;
$border-radius-md: 4px;

$card-gap: 2rem;

$page-bg-color-light: #f1f2f3;
$page-bg-color-dark: #0e0d0c;

$text-color-light: #606266;

$element-plus-blue: #409eff;
